/* CSS Document */

html,body { background-color: #f5f6fa; overflow-x: hidden; }
.row { margin:0; }
img { width:100%;height:auto; }
video { width:100%; }

header {
	position: relative;
	width:100vw;
	padding:20vh;
	background: url('../assets/img/normatec-recovery-multi-athlete.jpg') no-repeat fixed center -20vh;
	background-size: cover;
	color:#f5f6fa;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	
	@media (max-width:768px) {
		padding:20vh 0;
	}
	
	.angle-down-a { color:#f5f6fa; }
	#angle-down {
		position:absolute;
		bottom:25px;
		margin-left:-20px;
		font-size:4em;
		cursor:pointer;
		transition: all .2s;
		text-shadow: 2px 4px 12px rgba(0,0,0,0.8);
	}
	#angle-down:hover {
		bottom:22px;
		color:#f5f6fa;
		text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	}
}

section {
	position: relative;
	width:100vw;
	padding: 12vh;
	@media (max-width:768px) { padding: 10vh 5vh 15vh 5vh; }
	
	h1 {
		font-weight: 100;
		font-size:2.5em;
		text-align: center;
	}
	
}

#abovethefoldnav {
	position: relative;
	width:100vw;
	background-color:#00a8ff;
	
	.col { padding:0; }
	
	h4 {
		font-weight: 900;
		font-size: 1.1em;
		text-align: center;
		color:#f5f6fa;
		width:100%;
		height:100%;
		padding:2vh;
		margin:0;
		transition: all .2s;
		&:hover { background-color: #40739e; }
		
		a { color:#f5f6fa; }
	}
}

#valueproposition {
	width:100%;
	color:#f5f6fa;
	background-color: #0097e6;
	
	h3 {
		font-weight: 900;
		font-size:1.4em;
		text-align: center;
	}
}

#aboutnormatec {
	h3 {
		font-weight: 900;
		font-size: 1.4em;
		color:#0097e6;
	}
}
#pulsepattern {
	width:100%;
	padding:5vh;
	color:#f5f6fa;
	background-color:#353b48;
	
	h3 {
		font-weight: 900;
		font-size:1.4em;
		color:#00a8ff;
	}
	b { color:#00a8ff; }
}

#usevp {
	width:100%;
	color:#000;
	background-color: #0097e6;
	
	.left {
		text-align: right;
	}
	.middle {
		text-align: center;
	}
	.right {
		text-align:left;
	}
	
	h2 {
		font-weight: 900;
		font-size:5.5em;
		margin:0; padding:0;
		margin-top:-10px;
	}
	
	h3 {
		font-weight: 900;
		font-size:2em;
		margin:0; padding:0;
	}
	
	.row .col {
		margin:0; padding:0;
	}
}

#producthero {
	width:100%;
	color:#f5f6fa;
	background-color: #0097e6;
	
	h1 {
		font-size: 5em;
	}
	h3 {
		font-weight: 900;
		font-size:1.4em;
		text-align: center;
	}
	a {
		color:#fff;
		text-decoration: underline;
	}
}

#product {
	width:100%;
	
	.price {
		font-weight: 900;
		font-size: 3em;
		line-height: 1.2em;
		color:#212121;
	
		@media (max-width:1340px) {
			font-size: 2.45em;
			line-height: 1.6em;
		}
		@media (max-width:480px) {
			font-size: 1.5em;
			line-height: 2.5em;
			margin-left:15px;
		}
	}
}

#productfeatures {
	width:100%;
	color:#f5f6fa;
	background-color:#353b48;
	
	ul {
		li {
			font-weight: 200;
			font-size: 1.1em;
			list-style-type:disc;
		}
	}
}

.table-of-contents {
	position:fixed;
	bottom: 20px; right: 20px;
	text-align: right;
	
	a {
		padding-right: 20px;
		transition: all .2s;
		color:#f5f6fa;
		background-color:#212121;
		
		&:hover {
			border-left: none;
			border-right: 5px solid #487eb0;
		}
	}
}

.table-of-contents a.active {
	border-left:none;
	border-right: 5px solid #487eb0;
}




















